{{ if and (ne .Values.environment "ci") ( .Values.alertRules.create ) }}
apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  labels:
    app: w3f
    origin: {{ .Values.origin }}
  name: kubernetes-storage
spec:
  groups:
  - name: kubernetes-storage
    rules:
    - alert: KubePersistentVolumeUsageCritical
      annotations:
        message: The PersistentVolume claimed by {{`{{ $labels.persistentvolumeclaim }}`}}
          in Namespace {{`{{ $labels.namespace }}`}} is only {{`{{ printf "%0.0f" $value }}`}}%
          free.
        runbook_url: https://github.com/kubernetes-monitoring/kubernetes-mixin/tree/master/runbook.md#alert-name-kubepersistentvolumeusagecritical
      expr: |
        100 * kubelet_volume_stats_available_bytes{job="kubelet"}
          /
        kubelet_volume_stats_capacity_bytes{job="kubelet"}
          < 3
      for: 1m
      labels:
        severity: critical
        origin: {{ .Values.origin }}
    - alert: KubePersistentVolumeFullInEightDays
      annotations:
        message: Based on recent sampling, the PersistentVolume claimed by {{`{{ $labels.persistentvolumeclaim
          }}`}} in Namespace {{`{{ $labels.namespace }}`}} is expected to fill up within eight
          days. Currently {{`{{ $value }}`}} bytes are available.
        runbook_url: https://github.com/kubernetes-monitoring/kubernetes-mixin/tree/master/runbook.md#alert-name-kubepersistentvolumefullinfourdays
      expr: |
        kubelet_volume_stats_available_bytes{job="kubelet"} and predict_linear(kubelet_volume_stats_available_bytes{job="kubelet"}[6h], 8 * 24 * 3600) < 0
      for: 30m
      labels:
        severity: critical
        origin: {{ .Values.origin }}
{{ end }}
